<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-gray-500" id="sidenavAccordion">
  <!-- Sidenav Toggle Button-->
  <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
  <!-- Navbar Brand-->
  <!-- * * Tip * * You can use text or an image for your navbar brand.-->
  <!-- * * * * * * When using an image, we recommend the SVG format.-->
  <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
  <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/dashboard">LinkUp</a>
  <!-- Navbar Search Input-->
  <!-- * * Note: * * Visible only on and above the lg breakpoint-->
  <!-- Navbar Items-->
  <ul class="navbar-nav align-items-center ms-auto">
      <!-- Documentation Dropdown-->    
      <!-- Navbar Search Dropdown-->
      <!-- * * Note: * * Visible only below the lg breakpoint-->
      <li class="nav-item dropdown no-caret me-3 d-lg-none">
          <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
          <!-- Dropdown - Search-->
          <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
              <form class="form-inline me-auto w-100">
                  <div class="input-group input-group-joined input-group-solid">
                      <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                      <div class="input-group-text"><i data-feather="search"></i></div>
                  </div>
              </form>
          </div>
      </li>
      <!-- Alerts Dropdown-->
      <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
          <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="bell"></i></a>
          <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownAlerts">
              <h6 class="dropdown-header dropdown-notifications-header">
                  <i class="me-2" data-feather="bell"></i>
                  Alerts Center
              </h6>
              <!-- Example Alert 1-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-details">May 24, 2023</div>
                      <div class="dropdown-notifications-item-content-text">New user request. Rick has requested to follow you.</div>
                  </div>
              </a>
              <!-- Example Alert 2-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-details">May 24, 2023</div>
                      <div class="dropdown-notifications-item-content-text">New user request. John has requested to follow you.</div>
                  </div>
              </a>
              <!-- Example Alert 3-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-details">May 24, 2023</div>
                      <div class="dropdown-notifications-item-content-text">New user request. Bob has requested to follow you.</div>
                  </div>
              </a>
              <!-- Example Alert 4-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-details">May 24, 2023</div>
                      <div class="dropdown-notifications-item-content-text">New user request. Woody has requested to follow you.</div>
                  </div>
              </a>
              <a class="dropdown-item dropdown-notifications-footer" href="#!">View All Alerts</a>
          </div>
      </li>
      <!-- Messages Dropdown-->
      <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
          <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="mail"></i></a>
          <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownMessages">
              <h6 class="dropdown-header dropdown-notifications-header">
                  <i class="me-2" data-feather="mail"></i>
                  Message Center
              </h6>
              <!-- Example Message 1  -->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-2.png" />
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="dropdown-notifications-item-content-details">Thomas Wilcox 路 58m</div>
                  </div>
              </a>
              <!-- Example Message 2-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-3.png" />
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="dropdown-notifications-item-content-details">Emily Fowler 路 2d</div>
                  </div>
              </a>



              <!-- Example Mes sage 3-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-4.png" />
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="dropdown-notifications-item-content-details">Marshall Rosencrantz 路 3d</div>
                  </div>
              </a>
              <!-- Example Message 4-->
              <a class="dropdown-item dropdown-notifications-item" href="#!">
                  <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-5.png" />
                  <div class="dropdown-notifications-item-content">
                      <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="dropdown-notifications-item-content-details">Colby Newton 路 3d</div>
                  </div>
              </a>
              <!-- Footer Link-->
              <a class="dropdown-item dropdown-notifications-footer" href="#!">Read All Messages</a>
          </div>
      </li>
      <!-- User Dropdown-->
      <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
          <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="img/<%=user.propic%>" /></a>
          <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
              <h6 class="dropdown-header d-flex align-items-center">
                  <img class="dropdown-user-img" src="img/<%=user.propic%>"/>
                  <div class="dropdown-user-details">
                      <div class="dropdown-user-details-name"><%=user.username%></div>
                      <div class="dropdown-user-details-name"><%=user.firstname%> <%=user.lastname%></div>
                      <div class="dropdown-user-details-email"><%=user.local.email%></div>
                  </div>
              </h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/account">
                  <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                  Account
              </a>
              <a class="dropdown-item" href="/">
                  <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                  Logout
              </a>
          </div>
      </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
      <nav class="sidenav shadow-right sidenav-dark">
          <div class="sidenav-menu">
              <div class="nav accordion" id="accordionSidenav">
                  <!-- Sidenav Menu Heading (Account)-->
                  <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                  <div class="sidenav-menu-heading d-sm-none">Account</div>
                  <!-- Sidenav Link (Alerts)-->
                  <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                  <a class="nav-link d-sm-none" href="#!">
                      <div class="nav-link-icon"><i data-feather="bell"></i></div>
                      Alerts
                      <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                  </a>
                  <!-- Sidenav Link (Messages)-->
                  <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                  <a class="nav-link d-sm-none" href="#!">
                      <div class="nav-link-icon"><i data-feather="mail"></i></div>
                      Messages
                      <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                  </a>
                  <!-- Sidenav Menu Heading (Core)-->
                  <div class="sidenav-menu-heading">Home</div>
                  <!-- Sidenav Accordion (Dashboard)-->
                  <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                      <div class="nav-link-icon"> <i class="fa-solid fa-house" style="color: #f0f2f4;"></i> </div>
                      Home Page
                      <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                      <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                          <a class="nav-link" href="/dashboard">Home</a>
                      </nav>
                  </div>
                  <!-- Sidenav Heading (Custom)-->
                  <div class="sidenav-menu-heading">Features</div>
                  <!-- Sidenav Accordion (Pages)-->
                  <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                      <div class="nav-link-icon"><i data-feather="grid" class="fa-solid fa-table-cells-large" style="color: #f5f7f9;"></i></div>
                      Pages
                      <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                      <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                          <!-- Nested Sidenav Accordion (Pages -> Account)-->
                          <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAccount" aria-expanded="false" aria-controls="pagesCollapseAccount">
                              Account
                              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          <div class="collapse" id="pagesCollapseAccount" data-bs-parent="#accordionSidenavPagesMenu">
                              <nav class="sidenav-menu-nested nav">
                                  <a class="nav-link" href="/account">Profile</a>
                                  <a class="nav-link" href="/security">Security</a>
                                  <a class="nav-link" href="/notifications">Notifications</a>
                              </nav>
                          </div>                        
                      </nav>
                  </div>
                  <!-- Sidenav Accordion (Applications)-->
                  <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseApps" aria-expanded="false" aria-controls="collapseApps">
                      <div class="nav-link-icon"><i class="fa-solid fa-globe" style="color: #eff1f5;"></i></div>
                      Social
                      <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapseApps" data-bs-parent="#accordionSidenav">
                      <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsMenu">
                          <!-- Nested Sidenav Accordion (Apps -> User Management)-->
                          <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapseUserManagement" aria-expanded="false" aria-controls="appsCollapseUserManagement">
                              User Management
                              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          <div class="collapse" id="appsCollapseUserManagement" data-bs-parent="#accordionSidenavAppsMenu">
                              <nav class="sidenav-menu-nested nav">
                                  <a class="nav-link" href="/friends">Friend List</a>
                              <a class="nav-link" href="/add">Add Friend</a>
                              </nav>
                          </div>
                          <!-- Nested Sidenav Accordion (Apps -> Posts Management)-->
                      </nav>
                  </div>
                  <!-- Sidenav Accordion (Flows)-->
                  <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFlows" aria-expanded="false" aria-controls="collapseFlows">
                      <div class="nav-link-icon"><i class="fa-solid fa-people-group" style="color: #f3f4f7;"></i></div>
                      Meeting Management
                      <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapseFlows" data-bs-parent="#accordionSidenav">
                      <nav class="sidenav-menu-nested nav">
                          <a class="nav-link" href="/select">Registration</a>
                      </nav>
                  </div>
                  <!-- Sidenav Link (video)-->
                  <a class="nav-link" href="https://linkupvideo.netlify.app/" target="_blank">
                      <div class="nav-link-icon"><i class="fa-solid fa-tv" style="color: #f1f2f3;"></i></div>
                      Video Page
                  </a>
                  <!-- Sidenav Link (calendar)-->
                  <a class="nav-link" href="/cal">
                      <div class="nav-link-icon"><i class="fa-solid fa-calendar" style="color: #f9fafa;"></i></div>
                      Calendar
                  </a>
              </div>
          </div>
          <!-- Sidenav Footer-->
          <div class="sidenav-footer">
              <div class="sidenav-footer-content">
                  <div class="sidenav-footer-subtitle">Logged in as:</div>
                  <div class="sidenav-footer-title"><%=user.username%></div>
              </div>
          </div>
      </nav>
  </div>